---
title: Preparing to Deploy on Azure
---

<style>
   .note.warning {
       background-color: #fdd;
       border-color: #fbb
   }

   .note.warning:before {
       color: #f99;
    }
</style>

<strong><%= modified_date %></strong>

<p class="note"><strong>NOTE</strong>: Cloud Foundry on Microsoft Azure is supported by the community and Microsoft, but the Cloud Foundry Foundation does not currently test it.</p>

You must configure DNS correctly for your Cloud Foundry environment. See the [Setting Up DNS for Your Environment](../common/dns_prereqs.html) topic for more information.

## Step 1: Deploy BOSH ##

* [Initializing BOSH on Azure](https://bosh.io/docs/init-azure.html)

## Step 2: Deploy Cloud Foundry ##

* [Customizing the Cloud Foundry Deployment Manifest Stub for Azure](cf-stub.html)
* [Deploying Cloud Foundry using BOSH](../common/deploy.html): Deploy!
