---
title: Deploying Cloud Foundry with cf-release
owner: Release Integration
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning"><strong>WARNING</strong>: <code>cf-release</code> will soon be deprecated.</p>

This topic describes how to deploy Cloud Foundry using `cf-release`. 

`cf-release` is the older way to deploy Cloud Foundry, and will soon be deprecated. 

If you are deploying Cloud Foundry for the first time, see the [Deploying Cloud Foundry with cf-deployment](../cf-deployment/index.html) topic.

If you have an existing Cloud Foundry deployment that uses `cf-release`, see the [Migrating from cf-release to cf-deployment](../migrating.html) topic.

##<a id='overview'></a> Workflow

Select the topic specific to your IaaS to deploy Cloud Foundry with `cf-release`:

* <a class="subnav" href="./aws/index.html">Preparing to Deploy on Amazon Web Services</a>
* <a class="subnav" href="./azure/index.html">Preparing to Deploy on Azure</a>
* <a class="subnav" href="./openstack/index.html">Preparing to Deploy on OpenStack</a>
* <a class="subnav" href="./vsphere/index.html">Preparing to Deploy on vSphere</a>
* <a class="subnav" href="./vcloud/index.html">Preparing to Deploy on vCloud</a>

To deploy BOSH-Lite with Vagrant, see the [Preparing to Deploy on BOSH-Lite](./boshlite/index.html) topic.
