---
title: Security Configuration for Consul
---

As of [cf-release v217](https://github.com/cloudfoundry/cf-release/releases/tag/v217), Cloud Foundry enables secure traffic between Consul agents by default using encryption and mutual authentication. We strongly recommend that you configure Consul to be secure.

Follow the instructions below to configure security for Consul.

##<a id='create-stub'></a>Step 1: Create Stub File ##

You can configure Consul to be secure or insecure. 
We strongly recommend that you configure Consul to be secure.

###<a id='secure'></a>Configure Secure Mode ###

1. <a id='generate-certs'></a>Generate SSL Certificates and Keys:

    To generate the certificates and keys that you need for Consul, we 
    recommend using [certstrap](https://github.com/square/certstrap). 
    The [cf-release](https://github.com/cloudfoundry/cf-release) repository 
    contains a helper script, `scripts/generate-consul-certs`. 
    This script uses certstrap to initialize a certificate authority (CA), and 
    generate the certificates and keys for Consul.
    <br><br>
    If you already have a CA, you may have an existing workflow. 
    You can modify the `generate-consul-certs` script to use your existing CA 
    instead of generating a new one.
    <br><br>
    The `generate-consul-certs` script outputs files to the `./consul-certs` 
    directory. 
    You use the contents of these output files in a later step, [Create and Edit Stub File](#stub).

2. <a id='encrypt-keys'></a>Generate Gossip Encryption Keys:

    Run `cat /dev/urandom | head -c 16 | base64` to generate and display a 
    random 16-byte Base64-encoded value. 
    You use the generated value as a Gossip encryption key array, 
    `encrypt_keys`, in a later step, [Create and Edit Stub File](#stub).
    <br><br>
    Example:
    <pre class='terminal'>
    $ cat /dev/urandom | head -c 16 | base64
    8b9IJjXH5aN2Z9A5H8HAmg==
    </pre>

3. <a id='stub'></a>Create and Edit Stub File:

    Create a stub file that includes the certificates keys and `encrypt_keys` 
    array. 
    You use this stub file with the `generate_deployment_manifest` script from 
    `cf-release` to generate a deployment manifest.
    
    1. In the `cf-release` directory, create a stub file named 
    `consul-stub.yml`. 
    
    1. Copy the following text into the `consul-stub.yml` file: 

        ```yaml
        properties:
          consul:
            encrypt_keys: 
			- RANDOM-16-BYTE-BASE64-ENCODED-VALUE
            ca_cert: |
              -----BEGIN CERTIFICATE-----
              ...
              -----END CERTIFICATE-----
            agent_cert: |
              -----BEGIN CERTIFICATE-----
              ...
              -----END CERTIFICATE-----
            agent_key: |
              -----BEGIN RSA PRIVATE KEY-----
              ...
              -----END RSA PRIVATE KEY-----
            server_cert: |
              -----BEGIN CERTIFICATE-----
              ...
              -----END CERTIFICATE-----
            server_key: |
              -----BEGIN RSA PRIVATE KEY-----
              ...
              -----END RSA PRIVATE KEY-----
        ```
    
    1. Copy the contents of the files in the `./consul-certs` directory to 
    the `consul-stub.yml` file. 
    You generated these files in a previous step, [Generate SSL Certificates  and Keys](#generate-certs).

    1. Replace RANDOM-16-BYTE-BASE64-ENCODED-VALUE with the 
    `encrypt_keys` value that you generated in a previous step, [Generate Gossip  Encryption Keys](#encrypt-keys).

### <a id='insecure'></a>Configure Insecure Mode ###

1. In the `cf-release` directory, create a stub file named `consul-stub.yml`.

1. Add the following text to the `consul-stub.yml` file: 

    ```yaml
    properties:
      consul:
        require_ssl: false
    ```

## <a id='manifest'></a>Step 2: Generate Deployment Manifest ##

Use the instructions for your infrastructure to generate a deployment 
manifest with the stub file that you created in [Step 1: Create Stub File](#create-stub):

  * **AWS**: [Deploying Cloud Foundry on AWS with BOSH AWS Bootstrap](ec2/bootstrap-aws-vpc.html#deploy-cloudfoundry)
  * **OpenStack**: [Deploying Cloud Foundry on OpenStack using BOSH](openstack/install_cf_openstack.html#deploy-cf)
  * **vCloud**: [Deploying Cloud Foundry on vCloud using MicroBOSH or   BOSH](vcloud/deploy_cf.html#deploy-cf)
  * **vSphere**: [Deploying Cloud Foundry on vSphere using BOSH](vsphere/deploy_cf_vsphere.html#deploy-cf)

## <a id='rotating-certs'></a>Rotating SSL Certificates, Keys, and Certificate Authorities

To rotate your SSL certificates, keys, and certificate authorities, you must perform the following steps. 

1. Add the certificates, keys, and certificate authorities that you want to rotate to your stub file. You must use the same stub file that you used in [Step 2: Generate Deployment Manifest](#manifest).

  Add the new information above the existing information.

  Example: 

1. Generate a new deployment manifest.

 they will need to append their CA certs to their server and agent certs, and then keep both the new and old cert/ca pairs in their agent_cert and server_cert manifest lines when they deploy to update their certs. It's a whole lot of keys.


```yaml
server_cert: |
      -----BEGIN CERTIFICATE-----
     <*****NEW_SERVER_CERT******>
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
     *****NEW_CA_CERT*******
      -----END CERTIFICATE-----
```

For SSL cert/key/ca Updates:
for the cert update, both cert fields should look like this:

        ```yaml
        properties:
          consul:
            encrypt_keys: 
			- RANDOM-16-BYTE-BASE64-ENCODED-VALUE
            ca_cert: |
              -----BEGIN CERTIFICATE-----
              ...
              -----END CERTIFICATE-----
            agent_cert: |
              -----BEGIN CERTIFICATE-----
              ...
              -----END CERTIFICATE-----
            agent_key: |
              -----BEGIN RSA PRIVATE KEY-----
              ...
              -----END RSA PRIVATE KEY-----
            server_cert: |
              -----BEGIN CERTIFICATE-----
              ...
              -----END CERTIFICATE-----
            server_key: |
              -----BEGIN RSA PRIVATE KEY-----
              ...
              -----END RSA PRIVATE KEY-----
        ```


```yaml
server_cert: |
      -----BEGIN CERTIFICATE-----
     *****NEW_SERVER_CERT******
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
     *****NEW_CA_CERT*******
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
     *****OLD_SERVER_CERT******
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
     *****OLD_CA_CERT*******
      -----END CERTIFICATE-----
```

additionally, when updating, the agent_key, server_key, and ca_cert should initially have both the new and the old keys. ie
server_key:

```yaml
     -----BEGIN CERTIFICATE-----
     *****NEW_SERVER_CERT******
      -----END CERTIFICATE-----
     -----BEGIN CERTIFICATE-----
     *****OLD_SERVER_CERT******
      -----END CERTIFICATE-----
```

once the first deploy finishes, the old certs and keys can be removed.
