---
title: Run a Local Cloud Foundry Instance
---

You can use bosh-lite or cf\_nice\_installer to deploy Cloud Foundry v2 in a single VM instance.
<p class='note'><strong>Note</strong>: Cloud Foundry v2 does not support Micro Cloud Foundry.</p>

## bosh-lite

bosh-lite uses Vagrant and a Warden BOSH Cloud Provider Interface (CPI) to deploy Cloud Foundry in a VM.
Vagrant creates a single VM and BOSH deploys each Cloud Foundry component to separate Warden containers in the VM.

See [https://github.com/cloudfoundry/bosh-lite](https://github.com/cloudfoundry/bosh-lite) 
for more information about bosh-lite.

## cf\_nise\_installer

cf\_nise\_installer provisions and runs a local Cloud Foundry instance, either
on a physical machine or a Vagrant VM, using the BOSH packaging structure.
Nise BOSH is a lightweight BOSH emulator suitable for testing environments.

See [https://github.com/yudai/cf\_nise\_installer](https://github.com/yudai/cf_nise_installer) 
for more information about using Nise BOSH to install Cloud Foundry.
See [https://github.com/nttlabs/nise_bosh](https://github.com/nttlabs/nise_bosh)
for more information about the Nise BOSH project.