---
title: Deploying Cloud Foundry
---

* [Overview of Deploying Cloud Foundry](./index.html)

* [Deploying Cloud Foundry using BOSH](./common/deploy.html)

___

## <a id='aws'></a>Preparing to Deploy on Amazon Web Services ##

* [Preparing to Deploy Cloud Foundry on AWS](./aws/index.html)

* [Setting up an AWS Environment for Cloud Foundry with BOSH AWS Bootstrap](./aws/setup_aws.html)

* [Customizing the Cloud Foundry Deployment Manifest for AWS](./aws/cf-stub.html)

___

## <a id='openstack'></a>Preparing to Deploy on OpenStack ##

* [Preparing to Deploy Cloud Foundry on OpenStack](./openstack/index.html)

* [Validate your OpenStack Instance](./openstack/validate_openstack.html)

* [Security Group for Cloud Foundry on OpenStack](./openstack/security_group.html)

* [DNS Setup for Cloud Foundry on OpenStack](./openstack/set-up-dns.html)

* [Required Instance Flavors for Cloud Foundry on OpenStack](./openstack/required-flavors.html)

* [Customizing the Cloud Foundry Deployment Manifest for OpenStack](./openstack/cf-stub.html)

___

## <a id='vsphere'></a>Preparing to Deploy on vSphere

* [Preparing to Deploy Cloud Foundry on vSphere](./vsphere/index.html)

* [Privileges Required for vCenter User](./vsphere/vcenter_user_privileges.html)

* [Customizing the Cloud Foundry Deployment Manifest for vSphere, vCloud Air, or vCloud Director](./common/vsphere-vcloud-cf-stub.html)

___

## <a id='vcloud'></a>Preparing to Deploy on vCloud

* [Preparing to Deploy Cloud Foundry on vCloud](./vcloud/index.html)

* [Set up vCloud Air or vCloud Virtual Data Center Resources](./vcloud/setup_vcloud.html)

* [Customizing the Cloud Foundry Deployment Manifest for vSphere, vCloud Air, or vCloud Director](./common/vsphere-vcloud-cf-stub.html)

___

## <a id='bosh-lite'></a>Preparing to Deploy on BOSH-Lite ##

* [Preparing to Deploy Cloud Foundry on BOSH-Lite](./boshlite/index.html)

* [Create a Deployment Manifest for Cloud Foundry on BOSH-Lite](./boshlite/create_a_manifest.html)

___

## <a id='additional-config'></a>Additional Configurations ##

* [High Availability in Cloud Foundry](../concepts/high-availability.html)

* [Log Drain Blacklist Configuration](./common/log_drain_blacklists.html)

* [Security Configuration for Consul](./common/consul-security.html)

* [Deploying Community Services](https://github.com/cloudfoundry-community/cf-services-contrib-release)

* [Cloud Controller Blobstore Configuration](./common/cc-blobstore-config.html)

