---
title: Preparing to Deploy on Amazon Web Services
owner: Release Integration
---

<strong><%= modified_date %></strong>

The following steps document an example procedure for deploying Cloud Foundry on Amazon Web Services (AWS). The process includes several steps that may be expensive and time-consuming, such as provisioning AWS Relational Database Service (RDS) instances. For a simpler deployment, refer to the
[Minimal AWS](https://github.com/cloudfoundry/cf-release/tree/master/example_manifests) instructions.

## <a id='prereqs'></a>Prerequisites

To complete this deployment, you need the following:

- An [Amazon Web Services](http://aws.amazon.com) (AWS) account with Virtual Private Cloud (VPC)

- Sufficiently high instance limits on your AWS account

<p class="note"><strong>Note</strong>: You can deploy Cloud Foundry in smaller topologies, including a <a href="../boshlite/">local development environment</a> on Vagrant or a <a href="https://github.com/cloudfoundry/cf-release/tree/master/example_manifests">minimal AWS configuration</a>.</p>

- The correct DNS configuration. See the [Setting Up DNS for Your Environment](../common/dns_prereqs.html) topic for more information.

## <a id="deploy-bosh"></a> Step 1: Deploy BOSH ##

* [Deploying BOSH on AWS](setup_bosh_aws.html): Use [bosh-bootloader](https://github.com/cloudfoundry/bosh-bootloader) to set up an environment for Cloud Foundry and deploy a BOSH Director.

## <a id="deploy-cf"></a> Step 2: Deploy Cloud Foundry ##

* [Customizing the Cloud Foundry Deployment Manifest for AWS](cf-stub.html)
* [Deploying Cloud Foundry on AWS](deploy-aws.html): Deploy!
