---
title: Required Instance Flavors for Cloud Foundry on OpenStack
owner: Release Integration
---

<strong><%= modified_date %></strong>

Confirm that your OpenStack instance includes four flavors that correspond
with the OpenStack default flavor names `m1.small`, `m1.medium`, `m1.large`, and
`m1.xlarge`.

These flavors must have the following listed specifications, at minimum:
    <table class="nice">
      <tr>
        <th>OpenStack Flavor Name</th>
        <th>CPUs</th>
        <th>RAM (GB)</th>
        <th>Disk (GB)</th>
        <th>Ephemeral Disk (GB)</th>
      </tr>
      <tr>
        <td>m1.small</td>
        <td>1</td>
        <td>2</td>
        <td>10</td>
        <td>20</td>
      </tr>
      <tr>
        <td>m1.medium</td>
        <td>2</td>
        <td>4</td>
        <td>10</td>
        <td>40</td>
      </tr>
      <tr>
        <td>m1.large</td>
        <td>4</td>
        <td>8</td>
        <td>10</td>
        <td>80</td>
      </tr>
      <tr>
        <td>m1.xlarge</td>
        <td>8</td>
        <td>16</td>
        <td>10</td>
        <td>160</td>
      </tr>
    </table>
