---
title: Deploying BOSH on AWS
---

This document shows how to create a BOSH deployment manifest and pass it to `bosh-init` to deploy BOSH into the Amazon Web Services (AWS) environment you created in the [previous step](./setup_aws.html).

## <a id="copy-keypair"></a>Step 1: Copy the RSA Private Key
`bosh aws create` generated an RSA private key file. To deploy BOSH, you need this file in your deployment directory.

1. Copy the RSA private key file, `id_rsa_bosh`, to the `cf-example` directory you created in the [previous step](./setup_aws.html).

    <pre class='terminal'>
    $ cp ~/.ssh/id_rsa_bosh ~/deployments/cf-example
    </pre>

## <a id="create-manifest"></a>Step 2: Create a Deployment Manifest

1. Create a deployment manifest file named `bosh.yml` in the deployment directory. Copy the YAML code from the [AWS BOSH manifest template](http://bosh.io/docs/init-aws.html#create-manifest) in the BOSH documentation. Replace properties listed in the file as follows:
    * `ELASTIC-IP`:In the **EC2 Dashboard** under **Elastic IPs**, use the Elastic IP with the Instance associated with **bosh**. Example: "52.9.107.126."
    * `SUBNET-ID`: In the **VPC Dashboard** tab **Subnets**, use the Subnet ID for the subnet named "bosh1." Example: "subnet-2f58134a."
    * `AVAILABILITY-ZONE` and `REGION`: Use the values from the `bosh_environment` file you created in the [previous step](./setup_aws.html).
    * `ACCESS-KEY-ID` and `SECRET-ACCESS-KEY`: Use the values from your `bosh_environment` file.
    * Replace all predefined passwords with passwords of your choice.</p>

## <a id="deploy"></a> Step 3: Deploy

1. Check that [bosh-init](http://bosh.cloudfoundry.org/docs/install-bosh-init.html) and the [BOSH CLI](https://bosh.io/docs/bosh-cli.html) are installed on your machine.

1. Run `bosh-init deploy ./bosh.yml` to start the deployment process.

    <pre class='terminal'>
    $ bosh-init deploy ./bosh.yml
    ...
    </pre>

    See [AWS CPI errors](http://bosh.io/docs/aws-cpi.html#errors) for list of common errors and resolutions.

1. Use `bosh target ELASTIC-IP` to log into your new BOSH Director. The default username and password are `admin` and `admin`.

    <pre class="terminal">
    $ bosh target 54.175.20.129

    Target set to 'bosh'
    Your username: admin
    Enter password: *****
    Logged in as 'admin'

    $ bosh vms

    No deployments
    </pre>

1. Save the deployment state file in your deployment directory so you can later update or delete your bosh Director component. See [Using bosh-init](http://bosh.io/docs/using-bosh-init.html#deployment-state) for more details.

For information about deploying BOSH on AWS without running `bosh aws create` see [Initializing BOSH environment on AWS](http://bosh.io/docs/init-aws.html).

