<p class="note"><strong>Note</strong>: To configure blacklists of IP ranges to prevent future apps deployed to your Cloud Foundry installation from attempting to drain syslogs to internal Cloud Foundry components. See the <a href="../common/log_drain_blacklists.html">Log Drain Blacklist Configuration</a> topic for more information.</p>
