---
title: Security Configuration for Consul
---

<strong><%= modified_date %></strong>

As of [cf-release v217](https://github.com/cloudfoundry/cf-release/releases/tag/v217),
Cloud Foundry enables secure traffic between Consul agents by default using
encryption and mutual authentication. Follow the instructions below to configure
security for Consul. You can configure Consul to be secure or insecure, but we
strongly recommend that you configure Consul to be secure.

##<a id='secure'></a>Configure Secure Mode ##

1. <a id='generate-certs'></a>Generate SSL Certificates and Keys:

    To generate the certificates and keys that you need for Consul, we
    recommend using [certstrap](https://github.com/square/certstrap).
    The [cf-release](https://github.com/cloudfoundry/cf-release) repository
    contains a helper script, `scripts/generate-consul-certs`.
    This script uses certstrap to initialize a certificate authority (CA), and
    generate the certificates and keys for Consul.
    <br><br>
    If you already have a CA, you may have an existing workflow.
    You can modify the `generate-consul-certs` script to use your existing CA
    instead of generating a new one.
    <br><br>
    The `generate-consul-certs` script outputs files to the `./consul-certs`
    directory.

2. <a id='encrypt-keys'></a>Create Gossip Encryption Keys:

    To create an encryption key for use in the serf gossip protocol, provide an 
    arbitrary string value. The consul agent job template transforms this 
    string into a 16-byte Base64-encoded value for consumption by the consul 
    process.

3. <a id='stub'></a>Update Your Stub File:

    Copy the contents of the files in the `./consul-certs` directory, as well as
    the value for your Gossip encryption key, into your stub.

## <a id='insecure'></a>Configure Insecure Mode ##

1. Remove all the key- and certificate-related properties for Consul in your
stub.

1. Add the following property to your stub:

    ```yaml
    properties:
      ...
      consul:
        ...
        require_ssl: false
    ```

## <a id='rotating-certs'></a>SSL Certificate, Key, and Certificate Authority Rotation

To rotate your SSL certificates, keys, and certificate authorities, you must
perform the following steps.

1. Add the certificates, keys, and certificate authorities that you want to
rotate to your stub file.<br><br>You must add your new `agent_key`,
`server_key`, and `ca_cert` above the existing certificates. Do not remove the
existing certificates.

    ```yaml
    ...
    properties:
      ...
      consul:
        ...
        encrypt_keys:
        - RANDOM-SECRET-VALUE
        ca_cert: |
          -----BEGIN CERTIFICATE-----
          ###########################################################
          #######           Your New CA Certificate           #######
          ###########################################################
          -----END CERTIFICATE-----
          -----BEGIN CERTIFICATE-----
          ###########################################################
          #######           Your Old CA Certificate           #######
          ###########################################################
          -----END CERTIFICATE-----
        agent_cert: |
          ----BEGIN CERTIFICATE----
          ###########################################################
          #######           Your New Agent Certificate        #######
          ###########################################################
          ----END CERTIFICATE----
          ----BEGIN CERTIFICATE----
          ###########################################################
          #######           Your Old Agent Certificate        #######
          ###########################################################
          ----END CERTIFICATE----
        agent_key: |
          -----BEGIN RSA PRIVATE KEY-----
          ###########################################################
          #######           Your New Agent Key                #######
          ###########################################################
          -----END RSA PRIVATE KEY-----
          -----BEGIN RSA PRIVATE KEY-----
          ###########################################################
          #######           Your Old Agent Key                #######
          ###########################################################
          -----END RSA PRIVATE KEY-----
        server_cert: |
          ----BEGIN CERTIFICATE----
          ###########################################################
          #######           Your New Server Certificate       #######
          ###########################################################
          ----END CERTIFICATE----
          ----BEGIN CERTIFICATE----
          ###########################################################
          #######           Your Old Server Certificate       #######
          ###########################################################
        server_key: |
          -----BEGIN RSA PRIVATE KEY-----
          ###########################################################
          #######           Your New Server Key               #######
          ###########################################################
          -----END RSA PRIVATE KEY-----
          -----BEGIN RSA PRIVATE KEY-----
          ###########################################################
          #######           Your Old Server Key               #######
          ###########################################################
          -----END RSA PRIVATE KEY-----
    ```
1. Use the instructions for your infrastructure to generate a deployment
manifest with your edited stub file.

1. Deploy Cloud Foundry using this deployment manifest.

1. After you have deployed Cloud Foundry with the new manifest, remove the old
certificates and keys.

    ```yaml
    properties:
      consul:
        encrypt_keys:
        - RANDOM-SECRET-VALUE
        ca_cert: |
          -----BEGIN CERTIFICATE-----
          ###########################################################
          #######           Your New CA Certificate           #######
          ###########################################################
          -----END CERTIFICATE-----
        agent_cert: |
          ----BEGIN CERTIFICATE----
          ###########################################################
          #######           Your New Agent Certificate        #######
          ###########################################################
          ----END CERTIFICATE----
        agent_key: |
          -----BEGIN RSA PRIVATE KEY-----
          ###########################################################
          #######           Your New Agent Key                #######
          ###########################################################
          -----END RSA PRIVATE KEY-----
        server_cert: |
          ----BEGIN CERTIFICATE----
          ###########################################################
          #######           Your New Server Certificate       #######
          ###########################################################
          ----END CERTIFICATE----
          ----BEGIN CERTIFICATE----
          ###########################################################
          #######           Your New CA Certificate           #######
          ###########################################################
          ----END CERTIFICATE----
        server_key: |
          -----BEGIN RSA PRIVATE KEY-----
          ###########################################################
          #######           Your New Server Key               #######
          ###########################################################
          -----END RSA PRIVATE KEY-----
    ```
