---
title: Create a Deployment Manifest for Cloud Foundry
owner: Release Integration
---

<strong><%= modified_date %></strong>

This topic describes the process for creating a manifest to deploy Cloud Foundry
using BOSH. It requires you to have already deployed BOSH.

##<a id="target"></a>Target the BOSH Director ##

Use the `bosh target` command with the address of the BOSH Director to
connect to the BOSH Director. Log in with the default user name and password,
`admin` and `admin`, or use the username and password that you set when you
installed BOSH.

<pre class="terminal">
$ bosh target https://bosh.my-domain.com
Target set to `bosh'
Your username: admin
Enter password: *****
Logged in as 'admin'
</pre>

##<a id="uuid"></a>Record the BOSH Director UUID ##

Use the `bosh status --uuid` command to view information about your BOSH
deployment. Record the UUID of the BOSH Director. You use the UUID when
customizing the Cloud Foundry deployment manifest stub.

<pre class="terminal">
$ bosh status --uuid
abcdef12-3456-7890-abcd-ef1234567890
</pre>

##<a id="create-stub"></a>Create a Deployment Manifest Stub ##

Create a manifest stub file named `cf-stub.yml` and customize it for your
environment. Consult the instructions that are specific to your IaaS:

* [AWS](../aws/cf-stub.html)
* [OpenStack](../openstack/cf-stub.html)
* [vSphere, vCloud Air, or vCloud Director](vsphere-vcloud-cf-stub.html)

Additionally, you may want to configure blacklists of IP ranges to prevent
future apps deployed to your Cloud Foundry installation from attempting to
drain syslogs to internal Cloud Foundry components.  See the
[Log Drain Blacklist Configuration](log_drain_blacklists.html) topic for more information.

##<a id="clone"></a>Clone the cf-release GitHub Repository ##

Use `git clone` to copy the latest Cloud Foundry configuration files onto your machine.

<pre class="terminal">
$ git clone https://github.com/cloudfoundry/cf-release.git
</pre>

##<a id="generate-manifest"></a>Generate the Manifest ##

Ensure that you have the most up-to-date version of the Cloud Foundry code and all required submodules.

1. From the `cf-release` directory that you cloned when you created the
manifest, run the update script to fetch all the submodules.

    <pre class="terminal">
    $ cd cf-release
    $ ./scripts/update
    </pre>

1. Install [spiff](https://github.com/cloudfoundry-incubator/spiff).

1. The following command, run from the `cf-release` directory, creates a deployment manifest named `cf-deployment.yml`.
	<pre class="terminal">
	$ ./scripts/generate\_deployment\_manifest IAAS MANIFEST-STUB > cf-deployment.yml
	</pre>
Replace `IAAS` with either `aws`, `openstack`, or `vsphere`.  Note that `vsphere` works for vSphere, vCloud Air, and vCloud Director. Replace `MANIFEST-STUB` with the location of your `cf-stub.yml` file. For example:

    <pre class="terminal">
	$ ./scripts/generate_deployment_manifest vsphere ../cf-stub.yml > cf-deployment.yml
    </pre>

    <p class="note"><strong>Note</strong>: The <code>generate_deployment_manifest</code> script can accept multiple stub files. For example, the following command passes two stub files to the script: <br/>
    <code>./scripts/generate_deployment_manifest vsphere cf-stub.yml cf-consul.yml > cf-deployment.yml
    </code></p>

1. Use the `bosh deployment` command to set your deployment to the generated manifest.

    <pre class="terminal">
    $ bosh deployment cf-deployment.yml
    </pre>
