---
title: Security Groups for Cloud Foundry and BOSH
---

AWS and OpenStack offer Security Groups as a mechanism to restrict inbound traffic to servers.

The examples below show the Security Groups that are referenced in other sections of this documentation.

## <a id="bosh"></a>bosh

<%= image_tag("../images/bosh.png") %>

## <a id="ssh"></a>ssh

<%= image_tag("../images/ssh.png") %>

## <a id="cf-public"></a>cf-public

<%= image_tag("../images/pub.png") %>

## <a id="cf-private"></a>cf-private

<%= image_tag("../images/cf-private.png") %>