---
title: Create a Deployment Manifest for Cloud Foundry on BOSH-Lite
---

<strong><%= modified_date %></strong>

This topic describes the process for creating a manifest to deploy Cloud Foundry
using BOSH-Lite.  It assumes you have already setup BOSH-Lite and targetted the
Director.

##<a id="create-stub"></a>Create a Deployment Manifest Stub (Optional for Virtualbox) ##

If you deploy BOSH Lite to an AWS Vagrant VM, you must specify a system domain
in a manifest stub. If you are deploying to a local Vagrant VM this step is not
necessary.

By default, BOSH Lite uses the system domain `bosh-lite.com`, which resolves
to the address `10.244.0.34`. Update the system domain property to one of the
following two values:
  - The domain that you configured to point to the public IP address of the
  BOSH-Lite box that you just created.
  - The `xip.io` domain the corresponds to the public IP address given to your
  BOSH-Lite vagrant box: `YOUR_PUBLIC_IP.xip.io`. For more information about
  xip.io, see [http://xip.io/](http://xip.io/).

    ---
    properties:
      domain: bosh-lite.com # Replace with your system domain

##<a id="clone"></a>Clone the cf-release GitHub Repository ##

<pre class="terminal">
$ git clone https://github.com/cloudfoundry/cf-release.git
</pre>

##<a id="generate-manifest"></a>Generate the Manifest ##

1. Install [spiff](https://github.com/cloudfoundry-incubator/spiff).

1. Use the `scripts/generate-bosh-lite-dev-manifest` command to create a
deployment manifest and set it as the current BOSH deployment.

    <pre class="terminal">
    $ cd cf-release
    $ ./scripts/generate-bosh-lite-dev-manifest
    </pre>

    If you have deployed your bosh-lite to AWS, or have otherwise created
    stub(s) with custom configuration, you should pass it/them as additional
    arguments:

    <pre class="terminal">
    $ ./scripts/generate-bosh-lite-dev-manifest PATH-TO-STUB ...
    </pre>
