To perform these procedures, you must have installed the [BOSH CLI](https://bosh.io/docs/bosh-cli.html).

1. Use the `bosh alias-env` command with the address of your BOSH Director to
connect to the BOSH Director. Log in with the default user name and password,
`admin` and `admin`, or use the username and password that you set when you
installed BOSH.
	<pre class="terminal">
	$ bosh -e MY-ENV alias-env <span>https</span>://bosh.my-domain.example.com
	Your username: admin
	Enter password: *****
	Logged in as 'admin'
	</pre>
1. Use the `bosh env --uuid` command to view information about your BOSH
deployment. Record the UUID of the BOSH Director. You use the UUID when
[customizing](#editing) the Cloud Foundry deployment manifest stub.
	<pre class="terminal">
	$ bosh env --uuid
	abcdef12-3456-7890-abcd-ef1234567890
	</pre>
